body {
  margin: 0
}

.contact-header {
  background-color: #e2e2e2;
  height: 30vh;
  width: 100%;
}

.contact-container{
  display: flex;
}
.contact-container div{
  flex: 1
}

.contact-form{
  padding: 1em 3em;
  width: 100%;
}
.contact-input input{
  width: 80%;
}

.contact-image{
  width: 100%;
}