* {
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Romanesco';
  user-select: none;
}

body {
  background-color: rgb(86, 29, 94);

}

.nord {
  height: 95vh;
  background-image: url("./images/background-image.jpg");
  display: flex;
  align-items: center;
  background-size: cover;
}

.stickyHeader {
  background-color: #ffbf00;
  position: sticky;
  top: 0px;
  display: flex;
  width:100%;
text-align: center;
}
.optiongroup{
  text-align: end;
  width: 1800px;
  border: 1px solid black;
}
.option {
  border:  1px solid black;
  padding: 5px;
  margin:  10px;
  display: inline-block;
}

.logo {
  height: 50px;
  width: 100px;
}

.nord-castle {
  margin-left: 3em;
}

.nord-titlu {
  font-size: 6em;
  font-weight: bolder;
  color: #ee1111;
}

.nord-subtitlu {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #ee1111;
}

.button {
  height: 60px;
  width: 140px;
  border-radius: 20px;
  font-size: 2em;
  border: none;
}

.button-oferte {
  background-color: #ee1111;
  color: #FFC000;
}

.button-oferte:hover {
  background-color: #FFC000;
  color: #ee1111;
  transition: 0.5s;
  box-shadow: inset 0 0 2rem #ee1111;
}

.button-meniu {
  background-color: #FFC000;
  color: #302a2a;
}

.button-meniu:hover {
  background-color: #302a2a;
  color: #FFC000;
  transition: 0.5s;
  box-shadow: inset 0 0 2rem #FFC000;
}

.button-comanda {
  background-color: rgb(86, 29, 94);
  color: #FFC000;
}

.button-comanda:hover {
  background-color: #FFC000;
  color: rgb(86, 29, 94);
  transition: 0.5s;
  box-shadow: inset 0 0 2rem rgb(86, 29, 94);
}

.neon {
  color: #ee1111;
  text-shadow:
    0 0 7px #ffffff,
    0 0 10px #ffffff,
    0 0 15px #ffffff,
    0 0 25px #ffbf00,
    0 0 35px #ffbf00,
    0 0 45px #ffbf00,
    0 0 55px #FFC000;

}

.sud {
  height: 100vh;
}